.HomeMain{
    background-color: aqua;
    
    width: 60%;
   
    margin-left: 14%;
   padding-top: 50px;
    border: 1px solid gray;
    height:1200px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr;
}

.impression{
    background-color: rgb(239, 246, 246);
    width: 190px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.postBox{

    background-color: aquamarine;
    height: 100%;
    border-radius: 10px;
}