
.header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 50px;
   
    
    
}
.headerContent{
    background-color: #ffffff;
    height: 50px;
    display: grid;
    grid-template-columns: 3fr 3.5fr 2.5fr;
    width: 70%;
    margin: auto;
    
}


.leftHead{
    display: flex;
    flex-direction: row;
    gap: 10px;
   
    padding-top: 10px;
   
}
.middleHead{
 
    width: 100%;
    height: 70%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
   
}
.searchBar{
   
    height: 60%;
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    width: 230px;
  
} 
.searchBar input[type=text]{
    border: none;
    height: 100%;
    width: 180px;
    background-color: #eef3f8;
    outline: none;
}
.likedIn{
    color:#0a66c2;
    font-size: 1.5rem;
}
.middleHead div span{
    font-size: 0.7rem;
}
.middleHead div{
    color:gray;
}
.middleHead div:hover{
    color: black;
}
.middleHead div:active{
    border-bottom: 2px solid black;
}

.rightHead{
    padding-left: 20px;
    display: flex;
    border-left: 1px solid gray;
  
}


.rightHead div span{
    font-size: 0.6rem;
}


.messageBox{
    background-color: #a0bbd5;
    height: 800px;
    width: 300px;
    margin-left: 1230px;
    border-radius: 10px;
    position: absolute;
    top:55px;
    
}
.messageBox input[type=text]{
    width: 90%;
    margin-left: 10px;
    
}

.messageBox img{
margin-left: 10px;
height: 40px;
width: 40px;
margin-bottom: 10px;

}