body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container{
  background-color: brown;
 
  display: grid;
  grid-template-columns: 8fr 1fr;

}
.routes{
  background-color: rgb(56, 72, 196);
  width: 60%;
  
}
.mesages{
width: 40%;
} */